**/*.pem
**/.DS_Store
**/__pycache__
**/.idea
**/.vscode
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/lab_solutions.md

6-kubernetes/day3
6-kubernetes/day4
6-kubernetes/day5
6-kubernetes/day6
